<!doctype html>
<html>

<head>
	<script type=text/javascript src="{{
	url_for('static', filename='graph/dist/Chart.js') }}"></script>
	
	<script type=text/javascript src="{{
	url_for('static', filename='graph/utils.js') }}"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		
	}
	</style>
</head>

<body>
	<div >
		<canvas id="canvas"></canvas>
	</div>
	
	<script>
		var chartData = {
			labels: ['2009-10','2010-11','2011-12','2012-13','2013-14','2014-15','2015-16'],
			datasets: [{
				type: 'line',
				label: 'Smart Card',
				borderColor: window.chartColors.yellow,
				backgroundColor: window.chartColors.yellow,
				borderWidth: 2,
				fill: false,
				data: [69.1,1456.9,1777.9,2258,2305.2,2900.2,2129.1]
			}, {
				type: 'bar',
				label: 'Cell Phone',
				borderColor: window.chartColors.red,
				backgroundColor: window.chartColors.red,
				borderWidth: 2,
				fill: false,
				data: [0,444.1,1318.9,1633,1963.3,2335.8,2326.7]
			}]

		};

		
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myMixedChart = new Chart(ctx, {
				type: 'bar',
				data: chartData,
				options: {
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Year'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Amount Disbursed (Million PKR)'
							}
						}]
					},

					responsive: true,
					title: {
						display: true,
						text: 'Payments Distribution Mechanism'
					},
					tooltips: {
						mode: 'index',
						intersect: true,
						callbacks: {
						      	afterLabel: function(tooltipItem, data) {
						        	var sum = data.datasets.reduce((sum, dataset) => {
						          	return sum + dataset.data[tooltipItem.index];
						          }, 0);
						          var percent = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] / sum * 100;
						          percent = percent.toFixed(2); // make a nice string
						          return percent + '%';
						        }
						      }




					}
				}
			});
		};

		
	</script>
</body>

</html>
